name: date_only_field
description: A Date only flutter field (Pure dart). It helps with splitting the datetime object to date and time fields to be picked easily and saved to database separated for easy queries.

version: 0.0.11

repository: "https://github.com/a7mdragab/date_only_field"
homepage: "https://pub.dev/packages/date_only_field"


environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.11.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1


flutter:
