name: date_only_field
description: A Date only flutter field (Pure dart)
version: 0.0.2

repository: "https://github.com/a7mdragab/date_only_field"
homepage: "https://github.com/a7mdragab/date_only_field"


environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.11.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1


flutter:
